.box {
	width: 50%;
	height: 50px;
	border-radius: 10px;
	border: 2px solid black;
	margin: auto;
	margin-bottom: 20px;
}

.purple {
	background-color: rgb(132, 125, 243);
}

.yellow {
	background-color: yellow;
}
#numbox {
	margin-top: 20px;
}
.bar {
	width: 50%;
	height: 50px;
	background-color: rgb(186, 145, 255);
	padding-top: 25px;
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
	margin: auto;
}
.newBar {
	width: 50%;
	height: 50px;
	background-color: rgb(255, 166, 0, 0.731);
	padding-top: 25px;
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
	margin: auto;
	display: none;
}
.show {
	display: block;
}
